{% extends 'base_back.html.twig' %}

{% block title %}Add Game{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Add Game</h5>
                                </div>

                                <div class="theme-form theme-form-2 mega-form">
                                    {{ form_start(form) }}
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">{{ form_label(form.equipeA) }}</label>
                                        <div class="col-sm-9">
                                            {{ form_widget(form.equipeA, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">{{ form_label(form.equipeB) }}</label>
                                        <div class="col-sm-9">
                                            {{ form_widget(form.equipeB, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <label class="col-lg-2 col-md-3 col-form-label form-label-title">{{ form_label(form.date) }}</label>
                                        <div class="col-md-9 col-lg-10">
                                            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                     <div class="mb-4 row align-items-center">
                                        <label class="col-lg-2 col-md-3 col-form-label form-label-title">{{ form_label(form.image) }}</label>
                                        <div class="col-md-9 col-lg-10">
                                            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                     <div class="mb-4 row align-items-center">
                                        <label class="col-lg-2 col-md-3 col-form-label form-label-title">{{ form_label(form.prix) }}</label>
                                        <div class="col-md-9 col-lg-10">
                                            {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <button type="submit" class="btn ms-auto theme-bg-color text-white">Add Game</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
